.square {
    background-color: red;
    height: 100vh;
    width: 50%;
    left: 0;
    background-size: cover;
}

.square2 {
    background-color: blue;
    height: 100vh;
    width: 50%;
    right: 0;
    background-size: cover;
}

h1 {
    font-size: x-large;

}